<ng-container *ngIf="note">
    <input class="input" type="text" placeholder="{{lang.getText('Add title...')}}'" [(ngModel)]="note.title">
    <textarea class="textarea" placeholder="{{lang.getText('Add content...')}}" [(ngModel)]="note.body"></textarea>
    
    <div class="level">
        <div class="level-item has-text-centered">
            <input id="publicSwitch" type="checkbox" name="publicSwitch" class="switch is-rtl" [(ngModel)]="note.public">
            <label for="publicSwitch">{{lang.getText('Public')}}</label>
        </div>
        <div class="level-item has-text-centered">
            <input id="pinnedSwitch" type="checkbox" name="pinnedSwitch" class="switch is-rtl" [(ngModel)]="note.pinned">
            <label for="pinnedSwitch">{{lang.getText('Pinned')}}</label>
        </div>
        <div class="level-item has-text-centered">
            <input id="dateSwitch" type="checkbox" name="dateSwitch" class="switch is-rtl" [(ngModel)]="due_date">
            <label for="dateSwitch">{{lang.getText('Due date')}}</label>
        </div>
    </div>

    <app-datepicker 
        *ngIf="due_date"
        [dateSelected]="note.date_tag"
        (date)='updateDate($event)'
    ></app-datepicker>

    <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <button class="button is-primary" (click)="submit()">{{lang.getText('Confirm')}}</button>
            <button class="button" (click)="modalOpen = 0">{{lang.getText('Cancel')}}</button>
        </div>
    </div>
</ng-container>
