.container {
    margin-top: 3%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 1em;
}

.card {
    height: 100%;
}
.tile {
    height: 100%;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
  
.Aligner-item {
    max-width: 50%;
}

.pagination {
    position: relative;
    bottom: 1%;
}