<app-navbar (tab)='tabSwap($event)'></app-navbar>




<div class="container">
    <ng-container *ngIf="notes && notes.length > 0">
        <div class="card" *ngFor="let note of notes">
            <article class="tile is-child notification is-primary">
                <p class="title">{{ note.title }}</p>
                <p>
                    {{ note.body }}
                </p>
            </article>
        </div>
    </ng-container>
    <div class="card" (click)='modalOpen = 1'>
        <article class="tile is-child notification is-primary gray-hover">
            <div class="Aligner">
                <div class="Aligner-item">
                    <i class="far fa-plus-square fa-7x icon-center"></i>
                </div>
            </div>
        </article>
    </div>

</div>



<div class="modal" [ngClass]="{'is-active': modalOpen === 1}">
    <div class="modal-background" (click)="modalOpen = 0"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <input class="input" type="text" placeholder="Add title..." [(ngModel)]="newNote.title">
            <!-- <button class="delete" aria-label="close" (click)="modalOpen = 0"></button> -->
        </header>
        <section class="modal-card-body">
            <textarea class="textarea" placeholder="Add content..." [(ngModel)]="newNote.body"></textarea>
        </section>
        <footer class="modal-card-foot">
            <div class="level">
                <div class="level-left">
                    <app-datepicker (date)='updateDate($event)'></app-datepicker>
                </div>
                <div class="level-right">
                    <button class="button is-success" (click)="submit()">Confirm</button>
                    <button class="button" (click)="modalOpen = 0">Cancel</button>
                </div>
            </div>

        </footer>
    </div>
</div>