.color-picker {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    display: inline-block;
}

.color-picker-placeholder {
    margin-right: 5px;
    height: 45px;
    width: 45px;
}

.inblock {
    display: inline-block;
}