/* You can add global styles to this file, and also import other style files */
.gray-hover:hover {
  border-radius: 5px;
  color: hsl(172, 76%, 72%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
